---
import Title from '@components/Title.astro'
import Experience from '@components/Experience.astro'
import { type Experience as ExperienceType } from '../../types/portfolio'

const experiences: ExperienceType[] = [
  {
    name: 'SchoolSoft',
    startDate: '2019-01-09',
    description:
      'Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.'
  }
]
---

<section
  id='experiences'
  class='mt-20 px-2'
>
  <Title class='text-center mb-10'>Experiences</Title>
  <ol class='relative border-s border-slate-500'>
    {experiences.map((experience) => <Experience {...experience} />)}
  </ol>
</section>
