---
import Button from '@components/Button.astro'
---

<section class='text-center mt-32'>
  <div class='space-y-5'>
    <h1 class='text-4xl font-bold text-balance'>Franklin Omar González Flores</h1>
    <h2 class='text-4xl font-bold text-balance'>I do code and make content about it!</h2>
    <p class='text-sm font-light text-slate-300 text-pretty max-w-lg mx-auto'>
      I am a seasoned full-stack software engineer with over 8 years of professional experience,
      specializing in backend development. My expertise lies in crafting robust and scalable
      SaaS-based architectures on the Amazon AWS platform.
    </p>
  </div>
  <div class='space-x-5 mt-10'>
    <Button>Get in touch</Button>
    <Button variant='secondary'>Download CV</Button>
  </div>
</section>
