---
import Title from '@components/Title.astro'
import Project from '@components/Project.astro'

const projects = [
  { title: 'Project 1' },
  { title: 'Project 2' },
  { title: 'Project 3' },
  { title: 'Project 4' }
]
---

<section
  id='projects'
  class='mt-20 px-2'
>
  <Title class='text-center mb-10'>Projects</Title>

  <div class='grid grid-cols-1 sm:grid-cols-2 gap-x-2 gap-y-5'>
    {projects.map(({ title }) => <Project title={title} />)}
  </div>
</section>
