---
import PrimaryInfo from '@components/sections/PrimaryInfo.astro'
import MainLayout from '../layouts/MainLayout.astro'
import Header from '@components/sections/Header.astro'
---

<MainLayout title='Portfolio - Franklin Omar González Flores'>
  <main>
    <Header />
    <PrimaryInfo />
  </main>
</MainLayout>
