---
import MainLayout from '../layouts/MainLayout.astro'
import Header from '@sections/Header.astro'
---

<MainLayout title='Portfolio - Franklin Omar González Flores'>
  <main>
    <Header />
  </main>
</MainLayout>
