---
import { Image } from 'astro:assets'
import { type Project } from 'src/types/portfolio'
type Props = Project

const { name, image_url } = Astro.props
---

<article class='bg-slate-800 rounded'>
  <Image
    class='rounded-t'
    src={image_url}
    alt={name}
    width='800'
    height='460'
    loading='lazy'
  />
  <footer class='p-2'>
    <h2>{name}</h2>
  </footer>
</article>
