---
import Title from '@components/Title.astro'
import Experience from '@components/Experience.astro'
import portfolio from '../data/portfolio'
const { experiences } = portfolio
---

<section
  id='experiences'
  class='mt-20 px-2'
>
  <Title class='text-center mb-10'>Experiences</Title>
  <ol class='relative border-s border-slate-500'>
    {experiences.map((experience) => <Experience {...experience} />)}
  </ol>
</section>
