---
import portfolio from '../data/portfolio'
const { footer_description } = portfolio
---

<footer
  id='contact'
  class='bg-slate-800 p-10'
>
  <div class='max-w-xl mx-auto'>
    <h2 class='font-bold text-2xl mb-5'>Contact</h2>
    <p class='text-pretty text-sm'>
      {footer_description}
    </p>
  </div>
</footer>
