---
import Button from '@components/Button.astro'
import portfolio from '../data/portfolio'
const { name, description, title } = portfolio
---

<section
  id='home'
  class='text-center mt-20'
>
  <div class='space-y-5'>
    <h1 class='text-5xl font-bold text-balance'>{name}</h1>
    <h2 class='text-3xl font-bold text-balance max-w-lg mx-auto'>{title}</h2>
    <p class='text-sm font-light text-slate-300 text-pretty max-w-lg mx-auto'>
      {description}
    </p>
  </div>
  <div class='space-x-5 mt-10'>
    <Button>Get in touch</Button>
    <Button variant='secondary'>Download CV</Button>
  </div>
</section>
