---
import Button from '@components/Button.astro'
import portfolio from '../data/portfolio'
import Link from '@components/Link.astro'
const { name, description, title } = portfolio
---

<section
  id='home'
  class='mt-20'
>
  <div class='space-y-5'>
    <h1 class='text-5xl text-center font-bold text-balance'>{name}</h1>
    <h2 class='text-3xl text-center font-bold text-balance max-w-lg mx-auto'>
      {title}
    </h2>
    <p
      class='text-sm font-light text-slate-300 text-pretty max-w-lg mx-auto'
      set:html={description}
    />
  </div>
  <div class='flex justify-center gap-x-5 mt-10'>
    <Link
      href='/#contact'
      variant='secondary'
      >Get in touch</Link
    >
    <Button>Download CV</Button>
  </div>
</section>
